<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="{{ url_for('static', filename = 'js/main.js') }}"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'css/style.css') }}"
    />
  </head>

  <body>
    <div class="maincontent">
      <form action="{{ '/process' }}" method="post">
        <div class="file-upload-wrapper">
          <h4>File Upload</h4>
          <hr />
          <input
            type="file"
            id="fileId"
            class="file-upload-input"
            name="files"
            accept=".xlsx , .xls"
            hidden
          />
          <label class="box-fileupload" for="fileId">
            <p class="file-upload-btn"></p>
            <p class="box-fileupload__lable">Drop files here to upload</p>
          </label>
          <div class="error-wrapper"></div>
          <div class="image-previwe"></div>
          <div class="overlay">Drop files here to upload</div>
        </div>
        <div class="file-upload-wrapper d-flex justify-content-center">
          <button class="file-upload-wrapper-title__btn">Upload Now</button>
        </div>
      </form>
    </div>
  </body>
</html>

<script>
  $(document).ready(function () {
    var fileUploadWrapper = $("#fileUploadWrapper");
    var boxFileUpload = $("#boxFileUpload");
    var fileId = $("#fileId");

    boxFileUpload.on("dragover", function (e) {
      e.preventDefault();
      fileUploadWrapper.addClass("dragover");
    });

    boxFileUpload.on("dragleave", function () {
      fileUploadWrapper.removeClass("dragover");
    });

    boxFileUpload.on("drop", function (e) {
      e.preventDefault();
      fileUploadWrapper.removeClass("dragover");

      var file = e.originalEvent.dataTransfer.files[0];

      // Update file input with the dropped file
      fileId[0].files = e.originalEvent.dataTransfer.files;

      // Display a preview or any other relevant information about the dropped file
      var previewDiv = $(".image-preview");
      previewDiv.html("<p>File Name: " + file.name + "</p>");
    });
  });

  // Function to handle form submission
  function uploadFiles() {
    // Add any additional logic for form submission if needed
    // For example, you might want to perform an AJAX request to handle file upload
    // This example assumes a traditional form submission
    document.forms[0].submit();
  }
</script>
