<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Processing</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <script src="{{ url_for('static' , filename = 'js/jquery-3.7.1.js') }}"></script>
    <script src="{{ url_for('static' , filename = 'js/main.js') }}"></script>
    <link rel="shortcut icon" href='{{ url_for("static" ,filename = "img/logo.png") }}' type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- <script src="{{ url_for('static' , filename = 'js/jquery.table2excel.js') }}"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/exceljs/dist/exceljs.min.js"></script>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'css/loader.css') }}"
    />
  </head>

  <body>
    <div id="loader">
      <div class="cube-folding">
        <span class="leaf1"></span>
        <span class="leaf2"></span>
        <span class="leaf3"></span>
        <span class="leaf4"></span>
      </div>
    </div>
  </body>
</html>

<style>
  .tbl {
    display: block;
    margin: 20px;
  }
  .tbl table {
    width: 100%;
  }
  .tbl table tr th {
    background-color: rgb(47, 130, 255);
    color: white;
    font-weight: normal;
  }

</style>

<script>
  $(document).ready(function(){
    setTimeout(function(){
      window.location.href = "{{ url_for('static' , filename = 'output/output.xlsx') }}";
    },3000)
    
    setTimeout(function(){
      window.location.href = "/rem";
    },5000)
  })
</script>